{% extends "admin/login.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="preload" href="{% static 'assets/fonts/vazir-font-v16.1.0/Vazir.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static 'assets/fonts/vazir-font-v16.1.0/Vazir-Bold.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static 'assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block content %}
<div class="admin-auth-wrapper">
    <div class="admin-auth-card">
        <div class="admin-auth-header">
            <div class="admin-auth-title">ورود مدیر</div>
            <div class="admin-auth-subtitle">به پنل مدیریت آریو شاپ خوش آمدید</div>
        </div>
        {{ block.super }}
    </div>
</div>
{% endblock %}
