    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/nouislider/nouislider.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/demos/demo-12.css">
    
    <!-- Modern Navbar CSS -->
    <link rel="stylesheet" href="/static/assets/css/navbar-modern.css">
    
    <!-- UI Animations CSS -->
    <link rel="stylesheet" href="/static/assets/css/ui-animations.css">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/static/assets/images/icons/favicon.ico">
    